<ion-header>
    <ion-toolbar color="primary">
      <ion-icon slot="start" src="assets/images/rsl_az_logo.svg" size="large"></ion-icon>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Soccer Olympics</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <h1>Friday Night Schedules</h1>
  <h2>Dribbiling Field 1</h2>
  <p>
      <img src="assets/images/2019FridayDribFld1Sched.png" />
  </p>
  <h2>Dribbiling Field 2</h2>
  <p>
      <img src="assets/images/2019FridayDribFld2Sched.png" />
  </p>
  <h2>Dribbiling Field 3</h2>
  <p>
      <img src="assets/images/2019FridayDribFld3Sched.png" />
  </p>
  <h2>Foot Golf</h2>
  <p>
      <img src="assets/images/2019FridayFootFolfSched.png" />
  </p>
  <h2>Juggling</h2>
  <p>
      <img src="assets/images/2019FridayJugglingSched.png" />
  </p>
  <h2>Shootout</h2>
  <p>
      <img src="assets/images/2019FridayShootoutSched.png" />
  </p>

</ion-content>
