<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>297033223289-e32esl5ge3meuds5sso1cp2qbmg369q1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297033223289-e32esl5ge3meuds5sso1cp2qbmg369q1</string>
	<key>API_KEY</key>
	<string>AIzaSyDWcnaoTy6Mjdx9uEy2OR-OJqgW_ypDuaY</string>
	<key>GCM_SENDER_ID</key>
	<string>297033223289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rslazsoccer.app</string>
	<key>PROJECT_ID</key>
	<string>ftlowellrush</string>
	<key>STORAGE_BUCKET</key>
	<string>ftlowellrush.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297033223289:ios:91986e65f7f6b18d</string>
	<key>DATABASE_URL</key>
	<string>https://ftlowellrush.firebaseio.com</string>
</dict>
</plist>