<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>2019 TAR Shootout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" padding>
  <!-- <ion-searchbar placeholder="Search Tournament Rules"></ion-searchbar> -->
  <ion-list color="primary">
    <ion-item>
      <ion-label text-wrap>
        <ion-text color="secondary"> <h1>Tournament Rules</h1> </ion-text>
        <p>
          Any questions regarding the Rules of the Tournament or challenges
          concerning the eligibility of a player should be addressed to the
          Adjudicating Committee at the Tournament Headquarters prior to the
          beginning of the game.
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-text color="tertiary">
    <h4><u>Tournament Check-in</u></h4>
  </ion-text>
  <p>
    In Town teams will check in Tuesday, January 15th & Wednesday, January 11th
    at Kino Sports Complex at 2500 E. Ajo Way from 4pm – 9pm.
  </p>
  <p>
    Out-of Town teams will check in Friday, January 18th at Kino Sports Complex
    at 2500 E. Ajo Way from 12pm – 9pm.
  </p>
  <p>
    It is your responsibility to make sure you provide us with your local phone
    number and hotel room number at check-in, in case we need to contact you for
    any reason.
  </p>

  <ion-text color="tertiary">
    <h4><u>Game Check-in</u></h4>
  </ion-text>
  <p>
    Teams must arrive thirty (30) minutes prior to the scheduled start of their
    game and report to the Field Marshal for check-in. Player cards and
    equipment will be checked by Field Marshals prior to the start of each game.
    Game cards must be completed by both teams at check-in. All players must
    have Medical Release forms and all players must wear shin guards at check-in
    for their game. All rules are governed by the 2016/2017 FIFA Laws of the
    Game (LOTG). A special marker will be attached to all player cards at
    TOURNAMENT check-in and if this tie is removed, cut or destroyed in any way,
    your team will NOT be allowed to continue play in the tournament and will be
    given a forfeit with a recorded score of 3-0 in favor of the opponent.
  </p>

  <ion-text color="tertiary">
    <h4><u>Eligible Players</u></h4>
  </ion-text>
  <p>
    Eligible players are those whose names appear on the team’s roster at
    tournament check-in, are registered through the state association, and have
    proper player passes and medical release forms. Players may not play for
    more than one team in the tournament. The team roster is frozen 30 minutes
    prior to that start of the teams first Tournament game. Once a player is
    released from the Tournament to play another event, they may not continue to
    play in the Tournament.
  </p>

  <ion-text color="tertiary">
    <h4><u>Loan Players</u></h4>
  </ion-text>
  <p>
    Loan players are defined as players not registered in the same club as the
    participating team. Loan players must be registered with the same
    Association as the participating team. Rosters are allowed three (3) loan
    players with proper documentation with the approval of the Tournament
    Committee.
  </p>

  <ion-text color="tertiary">
    <h4><u>Roster Size</u></h4>
  </ion-text>
  <p>Roster size is as follows:</p>
  <ul>
    <li>U8 4v4, 8 player max roster</li>
    <li>U8-U10, 7v7 14 player max roster</li>
    <li>U11-U12, 9v9 16 player max roster</li>
    <li>U13-U19, 11v11 22* player max roster</li>
    <li>*18 dressed out for games</li>
  </ul>

  <ion-text color="tertiary">
    <h4><u>Laws of the Game</u></h4>
  </ion-text>
  <p>
    PlacehAll games shall be played in accordance with 2016/2017 FIFA LOTG
    except as specifically modified by these rules. The Referee’s decision will
    be the final with no protest accepted from the referee’s interpretation of
    the rules of the game.older
  </p>

  <ion-text color="tertiary">
    <h4><u>Officials</u></h4>
  </ion-text>
  <p>
    The Referee’s decision will be final with no protests accepted stemming from
    the Referee’s interpretation of the LOTG.
  </p>

  <ion-text color="tertiary">
    <h4><u>Home Team</u></h4>
  </ion-text>
  <p>
    Home Team will be the team first named in the game schedule. In the event of
    uniform conflict, the home team must change jerseys. The Home Team will
    supply the game ball unless supplied by the Tournament. The Home Team will
    select the side from which they wish to attack from. The Visitor Team will
    kick-off in the 1st half.
  </p>

  <ion-text color="tertiary">
    <h4><u>Equipment</u></h4>
  </ion-text>
  <p>
    All players are required to wear shin guards under socks and approved soccer
    cleats (no toe cleat). All players must wear numbered (minimum 6” on back of
    jersey) uniforms with no duplicated numbers on a team. Player’s uniform
    numbers must coincide with the team roster. Eyeglass restrains are required.
    NO jewelry may be worn in competition or metal hair accessories. NO hard
    casts are permitted. Soft casts with a doctor’s release and approval from
    the referee or tournament official may be accepted. Splints with proper
    wrapping and approval from the referee may be allowed. Approved ball sizes
    are listed below, balls will be provided by the Tournament. In brackets that
    U8/U9 are combined a size 4 ball will be used.
  </p>

  <ion-text color="tertiary">
    <h4><u>Playing Times</u></h4>
  </ion-text>
  <p>Teams are guaranteed 3 game minimum.</p>
  <ul>
    <li>PRELIM/SEMI FINALS CHAMPIONSHIP GAMES</li>
    <li>U13-U19: Two 30 minute halves, Two 30 minute halves</li>
    <li>U-12: Two 25 minute halves, Two 25 minute halves</li>
    <li>U-11: Two 25 minute halves, Two 25 minute halves</li>
    <li>U9-U10: Two 20 minute halves N/A</li>
    <li>U-8: Two 20 minute halves N/A</li>
  </ul>

  <ion-text color="tertiary">
    <h4><u>Half-Time</u></h4>
  </ion-text>
  <p>Half-time breaks will be EXACTLY 5 minutes long.</p>

  <ion-text color="tertiary">
    <h4><u>Overtime</u></h4>
  </ion-text>
  <p>
    There will be no overtime in games that end in a tie. If there is a tie in a
    Championship or Semi-Final or Third Place Match, a champion will be
    determined by taking penalty kicks according to the 2016/2017 FIFA LOTG. A
    running clock will be used. During preliminary matches, time will not be
    extended except for serious injury.
  </p>

  <ion-text color="tertiary">
    <h4><u>Age Group Ball Size</u></h4>
  </ion-text>
  <ul>
    <li>U8, Size 3</li>
    <li>U9-U12, Size 4</li>
    <li>U13-U19, Size 5</li>
  </ul>

  <ion-text color="tertiary">
    <h4><u>U8 Games</u></h4>
  </ion-text>
  <p>
    PlacehoMost U8 games will be played 4v4 with no goalkeeper. There will only
    be one (1) referee and no assistant referees. There is no offside in these
    games (unless it is a very blatant offense) and the opposing team has to be
    past the build out line when a team restarts with a goal kick. No
    intentional heading of the ball is allowed. Referees will restart play with
    an IDFK on a heading violation. All other rules conform to the LOTG.lder
  </p>

  <ion-text color="tertiary">
    <h4><u>U8-U10 Games</u></h4>
  </ion-text>
  <p>
    U8/U9/U10 games will be played 7v7, including a goalkeeper will have one (1)
    referee and two (2) assistant referees. Teams must have a minimum of 5
    players to start and play the game. The opposing team has to be past the
    build out line when any keeper delivery occurs and on a goal kick restart.
    No intentional heading of the ball is allowed. Referees will restart play
    with an IDFK on a heading violation. All other rules conform to the LOTG,
    including offside.
  </p>

  <ion-text color="tertiary">
    <h4><u>U11/U12 Games</u></h4>
  </ion-text>
  <p>
    U11/U12 games will be played 9v9, including a goalkeeper, playing on age
    appropriate fields. Teams must have a minimum of six (6) players to start
    and play the game. No intentional heading of the ball is allowed on U11
    games, but players on U12 games may head the ball. All other rules conform
    to the LOTG, including offside.
  </p>

  <ion-text color="tertiary">
    <h4><u>Substitutions</u></h4>
  </ion-text>
  <p>
    Substitutions are allowed with the Referee’s approval at the following
    times: your throw-in, any goal kick, after a goal, on an injury and to
    substitute for a yellow-carded player.
  </p>

  <ion-text color="tertiary">
    <h4><u>Forfeitures</u></h4>
  </ion-text>
  <p>
    Teams failing to report ready to play within 10 minutes of the scheduled
    kickoff time will forfeit the game (3-0). If both teams fail to report on
    time, both teams will be assessed losses. Any team forfeiting a game will be
    referred to their State Association.
  </p>
  <p>
    RED CARDS: Players and/or coaches receiving a red card will be ejected from
    the game and will not participate in the next scheduled game, as a minimum.
    The player/coach pass will be held at Tournament Headquarters until the
    player/coach is eligible to play/coach again. In addition, Home Leagues and
    State Associations may be advised of the offense.
  </p>

  <ion-text color="tertiary">
    <h4><u>Points</u></h4>
  </ion-text>
  <p>
    The team with the most points is the winner of the bracket. One point will
    be deducted for each redcard.
  </p>
  <ul>
    <li>WIN – Six (6) Points</li>
    <li>TIE – Three (3) Points</li>
    <li>LOSS – Zero (0) Points</li>
    <li>GOALS – One (1) Point per goal max. Three (3)</li>
    <li>SHUTOUT – One (1) Point</li>
  </ul>

  <ion-text color="tertiary">
    <h4><u>General</u></h4>
  </ion-text>
  <ol>
    <li>
      All coaches have total responsibility for the conduct of their players,
      bench, friends and spectators at all times. If parents/spectators display
      misconduct, they may be asked to leave the field. Maya – this format is
      jacked up.
    </li>
    <li>No hard casts are allowed.</li>
    <li>No jewelry allowed including taping of earrings.</li>
    <li>
      No heading in age groups Under-11 and below is allowed. If, during the
      course of a match, an intentional header is performed, play will be
      stopped and will resume with an IDFK for the opposing team.
    </li>
    <li>
      Both teams are responsible for cleaning the sidelines. A bag will be
      provided by the Field Marshal.
    </li>
    <li>No alcoholic beverages are allowed.</li>
    <li>
      In ALL GAMES under the jurisdiction of AYSA, both players and coaches will
      be on one side of the field and all the parents/spectators on the other
      side. The coaches will decide which side will be the “team” side and will
      notify the referee PRIOR to the game. Spectators should be seated between
      the coaching box (an area approximately 10 yards to each side of the
      center line) and the goal box and at least 2 yards from the side touch
      line NO ONE MAY SIT BEHIND A GOAL.
    </li>
  </ol>

  <ion-text color="tertiary">
    <h4><u>Player Cards</u></h4>
  </ion-text>
  <p>
    Team Officials need to pick up player passes after each game from the Field
    Marshal Tent.
  </p>

  <ion-text color="tertiary">
    <h4><u>Tie Breakers</u></h4>
  </ion-text>
  <p>
    In flights where the teams advancing to playoffs are determined by points, a
    tie will be broken in the following order:
  </p>
  <ol>
    <li>
      Head to Head, winner advancing. If teams played to a draw or teams did not
      play or a 3-way tie then go to the next breaker.
    </li>
    <li>
      Goals Against with the team giving up the fewest goals advancing. No
      maximum per game. If even then, go to next tie breaker.
    </li>
    <li>
      Goals Score. The team scoring the most goals advances. A team is credited
      for each goal up to 3 per game. So scoring 8 goals in a game only counts
      as 3 goals for that game in the tie breaker calculation. In 3 games the
      maximum goals for would be 9 goals. If still tied, go to the next tie
      breaker.
    </li>
    <li>
      Shutout Victories. The team with the most shutout victories will advance.
      A 0-0 tie does not count as a victory shutout. If still tied, go to the
      next breaker.
    </li>
    <li>
      Goal Differential. Goal Differential is goals scored less goals allowed.
      Each game has a maximum of 3. A 6-1 victory is not different that a 4-1
      victory in calculating goal differential. In either case the winning team
      will get a +3 differential (as well as 3 goals towards the goals scored
      tie breaker).
    </li>
  </ol>

  <ion-text color="tertiary">
    <h4><u>If Teams are Still Tied</u></h4>
  </ion-text>
  <p>
    If there are 3 teams tied where there will be a coin toss among the 3 teams
    with 3 coins, the toss will be repeated until there is an odd coin (i.e. 2
    heads and 1 tail). The team with the odd coin will receive a bye and the
    first spot shootout will be between the teams with the matching coin. The
    winner then advancing to play the team with the bye. The loser dropping to
    last among the tied teams. When there are 2 teams tied and both teams will
    advance to the playoff rounds regardless of outcome (i.e. where both teams
    would advance to a semi-final because they tied for first and the second
    play teams of the group advance to the semi-finals) there will be a coin
    toss to determine the placement. When there are 2 teams tied and only 1 can
    advance there will be a Kicks from the Mark shootout.
  </p>

  <ion-text color="tertiary">
    <h4><u>Coin Toss for Tie Breakers</u></h4>
  </ion-text>
  <p>
    The coin toss will be done at the Fort Lowell Headquarters Tent. Teams will
    be notified but DO NOT have to be present. They can be on the phone if they
    desire. When there are 2 teams involved, the lower number team will be heads
    and the higher number will be tails. So if teams 120 and 123 are tied, 120
    will be heads and 123 will be tails. The Field Marshal, Head Referee or
    designated Tournament Official will flip the coin in the absence of the
    teams. A Tournament Official will oversee the coin toss. If there are 3
    teams involved, tournament officials will represent teams that are not
    present. The placements will be shown in the standings and schedule.
  </p>
</ion-content>
