<ion-header>
  <org-header [pageTitle]="pageTitle"></org-header>
</ion-header>
<ion-content color="light">
  <ion-slides pager="true">
    <!-- Slide 1 -->
    <ion-slide>
      <img src="assets/images/shootout-2021-logo.png">
      <!-- <ion-text class="intro-text">
        <h4>31st Annual </h4>
        <p>Tucson Association of Realtors®</p>
        <h1> Fort Lowell Shootout</h1>
      </ion-text> -->
    </ion-slide>

    <!-- Slide 2 -->
    <ion-slide>
      <!-- <img src="assets/imgs/intro_2.png"> -->
      <ion-text class="intro-text">
        <h1>Check Scores</h1>
        <p>Stay up to date with tournament news.</p>
      </ion-text>
    </ion-slide>

    <!-- Slide 3 -->
    <ion-slide>
      <!-- <img src="assets/imgs/intro_3.png"> -->
      <ion-text class="intro-text">
        <h1>Favorite Teams</h1>
        <p>Track your favorite teams.</p>
      </ion-text>
    </ion-slide>

  </ion-slides>

</ion-content>
<ion-footer>
  <ion-row class="ion-padding">
    <ion-col size="1"></ion-col>
    <ion-col size="4" class="ion-text-left">
      <ion-button fill="outline" expand="block" (click)="openSignup()">
        Sign Up
      </ion-button>
    </ion-col>
    <ion-col size="2"></ion-col>
    <ion-col size="4" class="ion-text-right">
      <ion-button fill="outline" expand="block" (click)="openLogin()">
        Log In
      </ion-button>
    </ion-col>
    <ion-col size="1"></ion-col>

    <!-- <ion-col size="12" class="ion-text-center ion-margin-top ion-margin-bottom">
      <ion-text color="light">
        By signing up, you agree to our <a href="#" (click)="openTerms($event)">Terms of Service</a> and <a href="#"
          (click)="openPrivacy($event)">Privacy Policy</a>.
      </ion-text>
    </ion-col> -->
    
  </ion-row>
  <ion-toolbar color="primary" class="min-height-5"></ion-toolbar>
  <ion-img src="assets/images/Sponsors-2020.jpg"></ion-img>
  <ion-toolbar color="primary" class="min-height-5"></ion-toolbar>

</ion-footer>