<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tournament Schedule</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary"
    ><ion-searchbar
      placeholder="Search"
      [(ngModel)]="queryText"
      (ionInput)="updateTeams()"
    >
    </ion-searchbar
  ></ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group *ngFor="let division of teams">
      <ion-card color="secondary">
        <ion-card-header>
          <ion-card-title>
            {{ division.divisionName }}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content color="light">
          <ion-item
            color="light"
            *ngFor="let team of division.divisionTeams"
            (click)="teamTapped($event, team)">
            <ion-label>{{ team.name }}</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-item-group>
  </ion-list>
</ion-content>
