<ion-header>
    <ion-toolbar color="primary">
      <ion-icon slot="start" src="assets/images/rsl_az_logo.svg" size="large"></ion-icon>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Check In</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding color="primiary-contrast">
  <p>
      Each team player will need a laminated player card and coaches will need a pass as well.  All players 
      must have a medical clearance form(notarized for out of state teams). Travel approval forms are necessary 
      for any team from outside of region 4 and international teams.
  </p>
  <ul>
    <li>Player Pass</li>
    <li>Medical Clearance</li>
    <li>Travel Paperwork if applicable (Outside Region 4)</li>
  </ul>
  <h2>Local Team Check-In</h2>
  <p>
    In Town teams will check in <b>Tuesday, January 10th & Wednesday, January 15th at Kino Sports Complex at 
      2500 E. Ajo Way from 4pm – 9pm.</b>
  </p>
  <h2>Traveling Teams Check-In: Friday, January 18th, 2019</h2>
  <p>
      Out-of Town teams will check in <b>Friday, January 18th at Kino Sports Complex at 2500 E. Ajo Way from 12pm – 9pm.</b>
  </p>
</ion-content>
