<ion-header>

  <ion-toolbar color="primary">
    <ion-title text-center>Forgot Password</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding color="primary-contrast">
  <div text-center class="logo"><img src="assets/images/RSL_AZ_logo_smaller.png" /></div>

  <ion-item class="white-background bottom-padding-1em">
    <ion-input type="email" placeholder="Email" [(ngModel)]="forgotPasswordData.email" name="email"></ion-input>
  </ion-item>
  <ion-button expand="block" color="secondary" (click)="resetPassword()">Reset Password</ion-button>


  <ion-grid class="bottom-padding-2 em">
    <ion-row align-items-end>
      <ion-col>
        <div text-center>
          <ion-button fill="clear" class="new-user" (click)="routeToLogin()">Login Here</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div text-center>
          <ion-button fill="clear" class="new-user" (click)="routeToSignUp()">New User?</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>