<ion-header>
  <org-header [pageTitle]="pageTitle"></org-header>
</ion-header>

<ion-content color="light">
  <ion-item-divider color="secondary">
    <ion-label> {{ team?.teamName }} </ion-label>
  </ion-item-divider>

  <ion-item *ngIf="!isFollowing" class="ion-text-center">
    <div class="center-button">
      <ion-button color="primary" (click)="addToFavs()" expand="full">
        <ion-icon slot="start" name="star"></ion-icon>
        Add To My Teams <ion-icon slot="end" name="star"></ion-icon>
      </ion-button>
    </div>
  </ion-item>

  <ion-item *ngIf="isFollowing">
    <div class="center-button">
      <ion-button color="primary" (click)="removeFromFavs()" expand="full">
        Unfollow
      </ion-button>
    </div>
  </ion-item>
  <ion-grid class="ion-no-padding" *ngFor="let game of games"> <!--</ion-grid> routerLink="/venue-map/{{game.location}}">-->
    <ion-row class="schedule-row">
      <ion-col size="2" class="home-away-tag-{{ game.homeAway }}"></ion-col>
      <ion-col size="10">
        <div class="score-display">
          <span class="match-result">{{ game.scoreDisplay }}</span>
        </div>
        <div class="schedule-date">{{ game.time | date: "fullDate" }}</div>
        <div class="schedule-time">{{ game.time | date: "shortTime" }}</div>
        <div class="schedule-opponent">{{ game.vsAt }} {{ game.opponent }}</div>
        <div class="schedule-location">{{ game.location }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<org-footer></org-footer>