<ion-header>
  <ion-toolbar color="primary">
    <ion-icon slot="start" src="assets/images/rsl_az_logo.svg" size="large" class="left-padding"></ion-icon>
    <ion-title>Reset Password</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div (click)="redirectToTarSite($event)">
    <ion-img src="assets/images/tarsponsorbanner.jpg"></ion-img>
  </div>
  <ion-toolbar color="primary" class="min-height-5"></ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center logo"><img src="assets/images/RSL_AZ_logo_smaller.png" /></div>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="sendResetEmail()">

    <ion-item>
      <ion-input formControlName="email" placeholder="Email" type="text" autofocus="true" clearInput="true">
      </ion-input>
    </ion-item>

    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <ion-button expand="block" color="primary" type="submit">
          Reset Password
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>