<ion-header>
  <org-header [pageTitle]="pageTitle"></org-header>
</ion-header>

<ion-content color="light">
  <ion-segment [(ngModel)]="filter" value="active">
    <ion-segment-button value="active">
      <ion-label>Active</ion-label>
    </ion-segment-button>
    <ion-segment-button value="draft">
      <ion-label>Draft</ion-label>
    </ion-segment-button>
    <ion-segment-button value="archived">
      <ion-label>Archived</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-list>
    <ion-item button (click)="openCreate()">
      <ion-icon name="add"></ion-icon>
      <ion-label>
        <h2>Create New Post</h2>
      </ion-label>
    </ion-item>
    <div [ngSwitch]="filter" *ngFor="let post of posts">
      <ion-list>
        <ion-item *ngSwitchCase="post.status" button (click)="openPost(post)" detail>
          <ion-label>
            <h2>{{post.title}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-list>
</ion-content>
<org-footer></org-footer>
