<ion-app>
    <ion-menu color="primary" side="end">
      <ion-header>
        <ion-toolbar color="primary"> <ion-title>Menu</ion-title> </ion-toolbar>
      </ion-header>
      <ion-content color="primary">
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item color="primary" button href="/home" routerDirection="root">
              <ion-icon slot="start" name="home" color="light"></ion-icon>
              <ion-label> Home </ion-label>
            </ion-item>            
            <ion-item color="primary" button href="/my-teams" routerDirection="root">
              <ion-icon slot="start" name="star" color="light"> </ion-icon>
              <ion-label> My Teams </ion-label>
            </ion-item>              
            <ion-item color="primary" button href="/schedule" routerDirection="root">
              <ion-icon slot="start" name="calendar" color="light"> </ion-icon>
              <ion-label> Schedule </ion-label>
            </ion-item>  
            <ion-item color="primary" button href="/standings" routerDirection="root">
              <ion-icon slot="start" name="trophy" color="light"> </ion-icon>
              <ion-label> Standings </ion-label>
            </ion-item>
            <ion-item color="primary" button href="/field-maps" routerDirection="root">
              <ion-icon slot="start" name="map" color="light"> </ion-icon>
              <ion-label> Field Maps </ion-label>
            </ion-item>
            <ion-item color="primary" button href="/venues" routerDirection="root">
              <ion-icon slot="start" name="pin" color="light"> </ion-icon>
              <ion-label> Venues </ion-label>
            </ion-item> 
            <ion-item color="primary" button href="/rules" routerDirection="root">
              <ion-icon slot="start" name="alert" color="light"> </ion-icon>
              <ion-label> Tournament Rules </ion-label>
            </ion-item>     
            <ion-item color="primary" button href="/inclement-weather" routerDirection="root">
              <ion-icon slot="start" name="rainy" color="light"> </ion-icon>
              <ion-label> Inclement Weather </ion-label>
            </ion-item>  
            <ion-item color="primary" button href="/about" routerDirection="root">
              <ion-icon slot="start" name="information-circle" color="light"> </ion-icon>
              <ion-label> About the Shootout </ion-label>
            </ion-item>
            <ion-item color="primary" button href="/check-in" routerDirection="root">
              <ion-icon slot="start" name="checkbox" color="light"> </ion-icon>
              <ion-label> Check In </ion-label>
            </ion-item>
            <ion-item color="primary" button href="/contact-us" routerDirection="root">
              <ion-icon slot="start" name="mail" color="light"> </ion-icon>
              <ion-label> Contact Us </ion-label>
            </ion-item>
            <ion-item color="primary" button (click)="logout()">
              <ion-icon slot="start" name="power" color="light"></ion-icon>
              <ion-label> Logout </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-app>
  