<ion-app>
    <ion-menu side="start">
      <ion-header>
        <ion-toolbar color="primary"> <ion-title>Menu</ion-title> </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item button href="/home" routerDirection="root">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label> Home </ion-label>
            </ion-item>
            <ion-item button href="/tournaments" routerDirection="root">
              <ion-icon slot="start" name="trophy"> </ion-icon>
              <ion-label> Tournaments </ion-label>
            </ion-item>
            <ion-item button href="/teams" routerDirection="root">
              <ion-icon slot="start" name="football"> </ion-icon>
              <ion-label> My Teams </ion-label>
            </ion-item>            
            <ion-item button href="/fields" routerDirection="root">
              <ion-icon slot="start" name="map"> </ion-icon>
              <ion-label> Field Maps </ion-label>
            </ion-item>
            <ion-item button href="/venues" routerDirection="root">
              <ion-icon slot="start" name="compass"> </ion-icon>
              <ion-label> Venue Locations </ion-label>
            </ion-item>
            <ion-item button (click)="logout()">
              <ion-icon slot="start" name="power"></ion-icon>
              <ion-label> Logout </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-app>
  