<ion-header>

  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">New Account</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding color="primary-contrast">
  <div class="ion-text-center" class="logo"><img src="assets/images/RSL_AZ_logo_smaller.png" /></div>

  <ion-item>
    <ion-input type="email" placeholder="Email" [(ngModel)]="registerData.email" name="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="password" placeholder="Password" [(ngModel)]="registerData.password" name="password"></ion-input>
  </ion-item>
  <ion-item class="bottom-padding-1em">
    <ion-input type="password" placeholder="Confirm Password" [(ngModel)]="registerData.confirmPassword" name="password"></ion-input>
  </ion-item>
  <ion-button class="border-radius-bottom-10" expand="block" color="primary" (click)="registerWithEmail()">Sign Up With Email</ion-button>

  <ion-grid class="bottom-padding-2em">
    <ion-row align-items-end>
      <ion-col>
        <div class="ion-text-center">
          <ion-button fill="clear" class="existing-account" (click)="routeToLogin()">Already Have an Account?</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button size="large" fill="clear" (click)="loginWithFacebook()"><img src="assets/images/facebookLoginBtn.png" /></ion-button>


  <!-- <ion-item>
      <ion-label class="text-color-white">By creating an account you agree to the terms of service here</ion-label>
    </ion-item> -->


</ion-content>