<ion-header>
  <ion-toolbar color="primary">
    <ion-icon slot="start" src="assets/images/rsl_az_logo.svg" size="large"></ion-icon>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>2020 Shootout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <!-- <ion-card *ngFor="let post of posts">

    <ion-card-header color="primary">
      <ion-card-title>{{post.title}}</ion-card-title>
    </ion-card-header>
    <img src="assets/images/{{post.img}}.jpg" tappable (click)=presentModal() />

    <ion-card-content class="card-content-background">
      {{post.body}}
    </ion-card-content>
  </ion-card> -->

  <ion-slides [options]="sliderOpts">
    <ion-slide *ngFor="let post of posts">
      <img src="assets/images/{{post.img}}.jpg" tappable (click)="openPreview(post.img)">
    </ion-slide>

  </ion-slides>

</ion-content>