.post-from-name {
    font-size: .8em;
    font-weight: 700;
}
.post-time {
    font-size: .6em;
}
.post-item {
    margin-top: .6em;
}
.header-background-color{
    background: var(--ion-color-primary);
    color: var(--ion-color-light);
}