<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>2019 TAR Shootout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <!-- <ion-button (click)="getPosts()">Get Posts</ion-button> -->
  <ion-img src="assets/images/tournament-sponsors.png"></ion-img>
  <ion-item class="post-item" *ngFor="let post of formattedPosts">
      <ion-grid>
          <ion-row>
            <ion-col size="2">
              <ion-avatar item-left>
                <img src="https://graph.facebook.com/{{post.from.id}}/picture" />
              </ion-avatar>
            </ion-col>
            <ion-col size="8">
              <div class="post-from-name">
                {{ post.from.name }}
              </div>
              <div class="post-time">
                {{ post.time | date: "EEEE" }} at {{ post.time | date: "h:mm a" }}
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
              <p>{{ post.message }}</p>
          </ion-row>
          <ion-row *ngIf="post.photos.length > 0">
              <ion-img [src]="post.photos[0].src"></ion-img>
          </ion-row>
        </ion-grid>
  </ion-item>
</ion-content>
