<ion-header>
  <ion-toolbar color="primary">
    <ion-icon slot="start" src="assets/images/rsl_az_logo.svg" size="large"></ion-icon>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>RSL AZ Activity Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <!-- <ion-item class="post-item" *ngFor="let post of formattedPosts">
      <ion-grid>
          <ion-row align-items-center class="header-background-color">
            <ion-col size="3">
              <ion-avatar item-left>
                <img src="https://graph.facebook.com/{{post.from.id}}/picture" />
              </ion-avatar>
            </ion-col>
            <ion-col size="9">
              <div class="post-from-name">
                {{ post.from.name }}
              </div>
              <div class="post-time">
                {{ post.time | date: "EEEE" }} at {{ post.time | date: "h:mm a" }}
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
              <p>{{ post.message }}</p>
          </ion-row>
          <ion-row *ngIf="post.photos.length > 0">
              <ion-img [src]="post.photos[0].src"></ion-img>
          </ion-row>
        </ion-grid>
  </ion-item> -->
</ion-content>
