<ion-header>
    <ion-toolbar color="primary">
      <ion-icon slot="start" src="assets/images/rsl_az_logo.svg" size="large"></ion-icon>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Contact Us</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
          Tournament Director
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Kathleen Jackson</h2>
      <h3><a href="mailto:KJackson@rslaz.org" target="_blank" rel="noopener">KJackson@rslaz.org</a>&nbsp;| (855) 735-4868</h3>
    </ion-card-content>
  </ion-card>

</ion-content>
