<ion-header>
  <ion-toolbar color="primary">
    <ion-icon slot="start" src="assets/images/rsl_az_logo.svg" size="large" class="left-padding"></ion-icon>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
  <a href="https://www.tucsonrealtors.org/" target="_blank">
    <ion-img src="assets/images/tarsponsorbanner.jpg"></ion-img>
  </a>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <a href="https://www.facebook.com/RSLAZsa/" target="_blank" rel="noopener">@RSLAZsa</a>
      </ion-card-title>
      <ion-card-subtitle>Follow Us on Facebook</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title> Tournament Director </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Kathleen Jackson</h2>
      <h3>
        <a href="mailto:KJackson@rslaz.org" target="_blank" rel="noopener">KJackson@rslaz.org</a>&nbsp;|
        (855) 735-4868
      </h3>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title> RSL-AZ App Project Lead </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Josh Shaloo</h2>
      <h3>
        <a href="mailto:jshaloo@rslaz.org" target="_blank" rel="noopener">jshaloo@rslaz.org</a>
      </h3>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title> RSL-AZ App Developer </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Rich Tillis</h2>
      <h3>
        <a href="https://richtillis.com" target="_blank" rel="noopener">richtillis.com</a>
      </h3>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary" class="min-height-10"></ion-toolbar>
  <ion-img src="assets/images/Sponsors-2020.jpg"></ion-img>
  <ion-toolbar color="primary" class="min-height-10"></ion-toolbar>
</ion-footer>