<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>2019 TAR Shootout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" padding>
  <ion-card color="secondary">
    <ion-img src="assets/images/shootout2019banner.jpg"></ion-img>
    <!--
      <ion-card-header center>
        <ion-card-title>2019 TAR Shootout</ion-card-title>
        <ion-card-subtitle>Tap for tournament details</ion-card-subtitle>
      </ion-card-header>
    -->
  </ion-card>
  <h5 center>29th Annual</h5>
  <h3>Tucson Association of Realtors</h3>
  <h2>Fort Lowell Shootout</h2>
  <h5>January 18 - 20, 2019</h5>
  <h5>Boys & Girls U7 - U19</h5>
  <p>
    This year the Tucson Association of REALTORS® Shootout is proudly presented
    by RSL-AZ Southern Arizona Soccer Club. We are honored to celebrate our 29th
    year of fun, competition and of course great soccer!
  </p>
  <p>
    As part of RSL-AZ, our elite level brackets will grow in competition level
    and size. We will still always call the Shootout the soccer tournament with
    a heart, everyone from recreational to competitive will have a great place
    to play. Our Friday & Saturday night events are like nothing you have ever
    experienced before. The Opening Ceremonies, Parade of Athletes, Soccer
    Olympics, and Spirit Cup were designed by founder Bill Viner so that
    players, coaches and families could enjoy an evening of camaraderie. He
    wanted participants to get to know their competition off the field, have
    more fun and everyone always loves a chance to win more gold and silver.
  </p>
  <p>
    The Fort Lowell Shootout’s Highlight Games honor one of Tucson’s soccer
    greats, Dick Geibner. Our competition committee, selects elite teams from
    across the region to play in the Shootout’s featured Dick Geibner Highlight
    Games on the Kino Sports Complex – North Stadium. The shootout is Tucson
    Soccer’s biggest youth soccer tournament featuring the best soccer facility
    in the state of Arizona. The Shootout brings together top notch facilities,
    high level competition, and the unique team building experience of the
    soccer olympics.
  </p>
</ion-content>
