<ion-header>
  <ion-toolbar color="primary">
    <ion-icon slot="start" src="assets/images/rsl_az_logo.svg" size="large" class="left-padding"></ion-icon>
    <ion-buttons slot="end"> <ion-menu-button></ion-menu-button> </ion-buttons>
    <ion-title>Tournament Standings</ion-title>
  </ion-toolbar>
  <a href="https://www.tucsonrealtors.org/" target="_blank">
    <ion-img src="assets/images/tarsponsorbanner.jpg"></ion-img>
  </a>
  <ion-toolbar color="secondary">
    <ion-segment scrollable (ionChange)="segmentChanged($event)">
        <ion-segment-button checked value="All">
          <ion-label>All Teams</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Boys">
          <ion-label>Boys</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Girls">
          <ion-label>Girls</ion-label>
        </ion-segment-button>
      </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group *ngFor="let division of teamsRendered; trackBy:divisionName">
      <ion-item color="primary" class="padding-top">
        <ion-label>{{ division.divisionName }}</ion-label>
      </ion-item>
      <ion-item color="light" *ngFor="let team of division.divisionTeams; trackBy:teamName" routerLink="/team/tabs/teamSchedule/{{team.teamId}}">
        <ion-grid class="width-100">
          <ion-row class="ion-align-self-start">
            <ion-col class="ion-align-self-start">{{ team.teamName }}</ion-col>
          </ion-row>
          <ion-row *ngIf="!team?.matchesPlayed" class="ion-align-self-start">
            <ion-col class="ion-align-self-start no-game">- No games recorded -</ion-col>
          </ion-row>
          <ion-row *ngIf="team?.matchesPlayed">
            <ion-col> MP </ion-col>
            <ion-col> W </ion-col>
            <ion-col> L </ion-col>
            <ion-col> D </ion-col>
            <ion-col> GF </ion-col>
            <ion-col> GA </ion-col>
            <ion-col> Points </ion-col>
          </ion-row>
          <ion-row>
            <ion-col> {{ team.matchesPlayed }} </ion-col>
            <ion-col> {{ team.wins }} </ion-col>
            <ion-col> {{ team.losses }} </ion-col>
            <ion-col> {{ team.draws }} </ion-col>
            <ion-col> {{ team.goalsFor }} </ion-col>
            <ion-col> {{ team.goalsAgainst }} </ion-col>
            <ion-col> {{ team.points }} </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-group>
    <!-- <ion-item-group *ngFor="let division of teams; trackBy:divisionName">
      <ion-item color="primary" class="padding-top">
        <ion-label>{{ division.divisionName }}</ion-label>
      </ion-item>
      <ion-item color="light" *ngFor="let team of division.divisionTeams; trackBy:teamName" routerLink="/team/tabs/teamSchedule/{{team.teamId}}">
        <ion-grid class="width-100">
          <ion-row class="ion-align-self-start">
            <ion-col class="ion-align-self-start">{{ team.teamName }}</ion-col>
          </ion-row>
          <ion-row *ngIf="!team?.matchesPlayed" class="ion-align-self-start">
            <ion-col class="ion-align-self-start no-game">- No games recorded -</ion-col>
          </ion-row>
          <ion-row *ngIf="team?.matchesPlayed">
            <ion-col> MP </ion-col>
            <ion-col> W </ion-col>
            <ion-col> L </ion-col>
            <ion-col> D </ion-col>
            <ion-col> GF </ion-col>
            <ion-col> GA </ion-col>
            <ion-col> Points </ion-col>
          </ion-row>
          <ion-row>
            <ion-col> {{ team.matchesPlayed }} </ion-col>
            <ion-col> {{ team.wins }} </ion-col>
            <ion-col> {{ team.losses }} </ion-col>
            <ion-col> {{ team.draws }} </ion-col>
            <ion-col> {{ team.goalsFor }} </ion-col>
            <ion-col> {{ team.goalsAgainst }} </ion-col>
            <ion-col> {{ team.points }} </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-group> -->
  </ion-list>

  <ion-infinite-scroll threshold="35%" (ionInfinite)="displayMoreTeams($event)">
    <ion-infinite-scroll-content loadingSpinner="cresent" loadingText="Loading more teams">      
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
<ion-footer>
    <ion-img src="assets/images/tournamentsponsors.png"></ion-img>
</ion-footer>