<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end"> <ion-menu-button></ion-menu-button> </ion-buttons>
    <ion-title>Tournament Standings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group *ngFor="let division of teams">
      <ion-item color="secondary" class="padding-top">
        <ion-label>{{ division.divisionName }}</ion-label>
      </ion-item>
      <ion-item color="light" *ngFor="let team of division.divisionTeams">
        <ion-grid class="width-100">
          <ion-row align-self-start>
            <ion-col align-self-start>{{ team.teamName }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col> MP </ion-col>
            <ion-col> W </ion-col>
            <ion-col> L </ion-col>
            <ion-col> D </ion-col>
            <ion-col> GF </ion-col>
            <ion-col> GA </ion-col>
            <ion-col> Points </ion-col>
          </ion-row>
          <ion-row>
            <ion-col> {{ team.matchesPlayed }} </ion-col>
            <ion-col> {{ team.wins }} </ion-col>
            <ion-col> {{ team.losses }} </ion-col>
            <ion-col> {{ team.draws }} </ion-col>
            <ion-col> {{ team.goalsFor }} </ion-col>
            <ion-col> {{ team.goalsAgainst }} </ion-col>
            <ion-col> {{ team.points }} </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>