<ion-header>
  <ion-toolbar color="primary">
    <ion-icon
      slot="start"
      src="assets/images/rsl_az_logo.svg"
      size="large" class="left-padding"
    ></ion-icon>
    <ion-buttons slot="end"> <ion-menu-button></ion-menu-button> </ion-buttons>
    <ion-title>Inclement Weather</ion-title>
  </ion-toolbar>
  <a href="https://www.tucsonrealtors.org/" target="_blank">
    <ion-img src="assets/images/tarsponsorbanner.jpg"></ion-img>
  </a>
</ion-header>

<ion-content class="ion-padding">
  <h2>Inclement Weather Procedures</h2>
  <p>
    In the event of inclement weather, the designated Tournament official will
    make a decision as to whether the fields should be cleared. If the
    Tournament official determines that the games need to be stopped due to
    weather, including lightning (10 mile rule) those present at the site will
    be instructed to leave the area by the Tournament Official.
  </p>

  <p>
    Once notified of game play stoppage because of the weather conditions, all
    present should clear the fields and go to their cars. DO NOT LEAVE THE SITE.
    A tournament official will inform your coaching staff when games may resume
    play.
  </p>

  <p>
    In the case of rain, sleet or light snow, play will continue unless halted
    by the Tournament official or center referee. Matches may be halted when
    fields become hazardous as to present a serious potential of injury to
    players or lasting damage to the fields. The Tournament Official is
    responsible for determining both the need to stop games and when it is safe
    to resume match play.
  </p>

  <p>
    In the event that a match is cancelled due the inclement weather, the score
    at the time of cancellation will be declared the final score and will be
    recorded as such if one half of the game has been completed. Matches in
    progress, but with less than one half completed, will be recorded as a 0-0
    tie. The Tournament Official reserves the right to make whatever adjustments
    may be necessary in game length, relocating the game. etc. to proceed with
    the schedule following a delay due to inclement weather. This policy is to
    be followed on a site to site situation. The inclement weather can be at one
    site but not at another, thus unaffected sites will proceed match play as
    scheduled.
  </p>

  <p>
    In the event of inclement weather during the finals on Sunday, the above
    procedures will be followed. If at all possible, final contest will be
    decided on the field by completion of the game or by penalty kicks, if time
    or conditions do not permit game completion. In the case that games are not
    permitted to resume play to completion,
    <b>
      accrued points will be used to determine the outcome of the tournament.
    </b>
  </p>

  <p>
    <b>
      The Tournament Committee, the coaches of the host teams, or sponsors of
      any of the tournament activities shall not be held responsible for
      expenses incurred by any team or club if the tournament is cancelled in
      whole or in part.
    </b>
  </p>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary" class="min-height-10"></ion-toolbar>
  <ion-img src="assets/images/Sponsors-2020.jpg"></ion-img>
  <ion-toolbar color="primary" class="min-height-10"></ion-toolbar>
</ion-footer>