<ion-tabs>
  <ion-tab tab="about">
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="schedule">
    <ion-router-outlet name="schedule"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="standings">
    <ion-router-outlet name="standings"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="rules">
    <ion-router-outlet name="rules"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="about" href="/shootout/(about:about)">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule" href="/shootout/(schedule:schedule)">
      <ion-icon name="calendar"></ion-icon> 
      <ion-label>Schedule</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="standings" href="/shootout/(standings:standings)">
      <ion-icon name="trophy"></ion-icon> 
      <ion-label>Standings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rules" href="/shootout/(rules:rules)">
      <ion-icon name="alert"></ion-icon> 
      <ion-label>Rules</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
