<ion-header>
  <org-header [pageTitle]="pageTitle"></org-header>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center logo"><img src="assets/images/RSL_AZ_logo_smaller.png" /></div>

  <form [formGroup]="loginForm" novalidate>
    <ion-item>
      <ion-input formControlName="email" placeholder="Email" type="text"></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message"
          *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-input formControlName="password" placeholder="Password" type="password"></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message"
          *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
  </form>

  <ion-button color="primary" expand="block" (click)="loginWithEmail()" [disabled]="loginForm.invalid">Login</ion-button>

  <ion-grid class="bottom-padding-2em">
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <ion-button fill="clear" class="auth-routes" (click)="routeToForgotPassword()">Forgot Password?</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-center">
          <ion-button fill="clear" class="auth-routes" (click)="routeToSignUp()">New User?</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button size="large" fill="clear" (click)="loginWithFacebook()"><img src="assets/images/facebookLoginBtn.png" />
  </ion-button>

</ion-content>
<org-footer></org-footer>