<ion-header>

  <ion-toolbar color="primary">
    <ion-title text-center>Login</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding color="primary-contrast">
  <div text-center class="logo"><img src="assets/images/RSL_AZ_logo_smaller.png" /></div>

  <ion-button class="bottom-padding-2em" size="large" fill="clear" (click)="loginWithFacebook()"><img src="assets/images/facebookLoginBtn.png" /></ion-button>

  <ion-item-divider>
    <ion-label>
      login with email account
    </ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-input type="email" placeholder="Email" [(ngModel)]="loginData.email" name="email"></ion-input>
  </ion-item>
  <ion-item class="bottom-padding-1em">
    <ion-input type="password" placeholder="Password" [(ngModel)]="loginData.password" name="password"></ion-input>
  </ion-item>
  <ion-button expand="block" color="primary" (click)="loginWithEmail()">Login</ion-button>

  <ion-grid class="bottom-padding-2em">
    <ion-row align-items-end>
      <ion-col>
        <div text-center>
          <ion-button fill="clear" class="new-user" (click)="routeToForgotPassword()">Forgot Password?</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div text-center>
          <ion-button fill="clear" class="new-user" (click)="routeToSignUp()">New User?</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  

  
      <!-- <div class="bottom-padding-1em"></div> -->
      <!-- <ion-button size="large" fill="clear" disabled="true" (click)="loginWithGoogle()"><img src="assets/images/googleLoginBtn.png" /></ion-button> -->


  <!-- <ion-item>
    <ion-label class="text-color-white">By creating an account you agree to the terms of service here</ion-label>
  </ion-item> -->


</ion-content>