<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Field Maps</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding color="primary-contrast">
  <ion-list>
    <ion-list-header color="secondary">
      <ion-label>
          <h2>Kino Sports Park</h2>
          <h2>North Complex</h2>
      </ion-label>
    </ion-list-header>
    <ion-item class="item-content">
      <p>(11v11) - North Stadium, North Grand, & Field 1</p>
      <p>( 9v9 ) - Fields N2, N3, & N4 </p>
    </ion-item>
    <img src="assets/images/Kino_Park_North.png" />
    <ion-list-header color="secondary">
        <ion-label>
            <h2>Kino Sports Park</h2>
            <h2>South Complex</h2>
        </ion-label>
      </ion-list-header>
      <ion-item class="item-content">
        <p>(9v9) - S3A, S5S, S6A, S11A, & S12A</p>
        <p>(7v7) - Fields S3B, S5B, S6B, S8A, S8B, & S8C</p>
        <p>(4v4) - Fields S7A, S7B, & S7C</p>
      </ion-item>
      <img src="assets/images/Kino_Park_South.png" />
  </ion-list>
</ion-content>
