<ion-header>
  <ion-toolbar color="primary">
    <ion-icon slot="start" src="assets/images/rsl_az_logo.svg" size="large" class="left-padding"></ion-icon>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tournament Schedule</ion-title>
  </ion-toolbar>
  <a href="https://www.tucsonrealtors.org/" target="_blank">
    <ion-img src="assets/images/tarsponsorbanner.jpg"></ion-img>
  </a>
  <ion-toolbar color="secondary">
    <ion-searchbar placeholder="Search" [(ngModel)]="queryText" (ionChange)="updateTeams()" (ionBlur)="hideKeyboard()"
      (ionCancel)="hideKeyboard()" (ionClear)="hideKeyboard()" (window:keydown)="onKey($event)">
    </ion-searchbar>
    <ion-segment scrollable (ionChange)="segmentChanged($event)">
      <ion-segment-button checked value="All">
        <ion-label>All Teams</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Boy">
        <ion-label>Boys</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Girl">
        <ion-label>Girls</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content color="primary-contrast">
  <ion-list>
    <ion-item-group *ngFor="let division of teamsRendered; trackBy:divisionName">
      <ion-item-divider color="primary">
        <ion-label> {{ division.divisionName }} </ion-label>
      </ion-item-divider>
      <ion-item color="primary-contrast" *ngFor="let team of division.divisionTeams; last as isLast; trackBy:id" routerLink="/team/tabs/teamSchedule/{{ team.id }}" >
        <ion-label>{{ team.name }}</ion-label>
        <!-- <span *ngIf="isLast">default</span>         -->
      </ion-item>
    </ion-item-group>
    <!-- <ion-item-group *ngFor="let division of teams; trackBy:divisionName">
      <ion-item-divider color="primary">
        <ion-label> {{ division.divisionName }} </ion-label>
      </ion-item-divider>
      <ion-item color="primary-contrast" *ngFor="let team of division.divisionTeams; last as isLast; trackBy:id" routerLink="/team/tabs/teamSchedule/{{ team.id }}" >
        <ion-label>{{ team.name }}</ion-label>
      </ion-item>
    </ion-item-group> -->
  </ion-list>

  <ion-infinite-scroll threshold="35%" (ionInfinite)="displayMoreTeams($event)">
    <ion-infinite-scroll-content loadingSpinner="cresent" loadingText="Loading more teams">      
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>
<ion-footer>
  <ion-toolbar color="primary" class="min-height-10"></ion-toolbar>
  <ion-img src="assets/images/Sponsors-2020.jpg"></ion-img>
  <ion-toolbar color="primary" class="min-height-10"></ion-toolbar>
</ion-footer>