<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tournament Schedule</ion-title>
  </ion-toolbar>
  <ion-toolbar color="secondary">
    <ion-searchbar placeholder="Search" [(ngModel)]="queryText" (ionChange)="updateTeams()" (ionBlur)="hideKeyboard()"
      (ionCancel)="hideKeyboard()" (ionClear)="hideKeyboard()" (window:keydown)="onKey($event)">
    </ion-searchbar>
    <ion-segment scrollable (ionChange)="segmentChanged($event)">
      <ion-segment-button checked value="All">
        <ion-label>All Teams</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Boy">
        <ion-label>Boys</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Girl">
        <ion-label>Girls</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content color="primary-contrast">
  <ion-item color="primary-contrast" *ngFor="let team of tournamentTeams$"
    routerLink="/app/tabs/teamSchedule/{{ team.id }}">
    team.name
  </ion-item>
  <!-- <div *ngIf="tournamentTeams$ | async as tournamentTeams"> -->
  <!-- <ion-item-group *ngFor="let division of tournamentTeams">
      <ion-item-divider color="primary">
        <ion-label> {{ division[0] }} </ion-label>
      </ion-item-divider>-->
  <!-- <ion-item color="primary-contrast" *ngFor="let team of tournamentTeams" routerLink="/app/tabs/teamSchedule/{{ team.id }}">
        <ion-label>{{ team.name }}</ion-label>
      </ion-item> -->
  <!-- </ion-item-group> -->
  <!-- </div> -->

  <!-- <div *ngIf="tournamentTeams$ | async as tournamentTeams">
    <ion-item-group *ngFor="let division of tournamentTeams">
      <ion-item-divider color="primary">
        <ion-label> {{ division[0] }} </ion-label>
      </ion-item-divider> -->
  <!-- <ion-item color="primary-contrast" *ngFor="let team of division[1]" routerLink="/app/tabs/teamSchedule/{{ team.id }}">
        <ion-label>{{ team.name }}</ion-label>
      </ion-item> -->
  <!-- </ion-item-group>
  </div> -->


  <ion-list>
    <ion-item-group *ngFor="let division of teams">
      <ion-item-divider color="primary">
        <ion-label> {{ division.divisionName }} </ion-label>
      </ion-item-divider>
      <ion-item color="primary-contrast" *ngFor="let team of division.divisionTeams" routerLink="/app/tabs/teamSchedule/{{ team.id }}">
        <ion-label>{{ team.name }}</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>