<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Team Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-list>
    <ion-item *ngFor="let game of games" (click)="gameClicked($event, game)">
      <ion-row>
        <ion-col text-center> {{ game.time | date: "M/d/yy" }} </ion-col>
        <ion-col text-center>{{ game.time | date: "shortTime" }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center> {{ game.homeAway }} {{ game.opponent }} </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center> {{ game.location }} </ion-col>
        <ion-col text-center>
          <h4>
            <!-- <ion-badge [color]="getScoreDisplayBadgeClass(game)">{{getScoreWorL(game)}}</ion-badge> -->
            {{ game.scoreDisplay }}
          </h4>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
