<ion-header>
  <ion-toolbar color="primary">
    <ion-icon slot="start" src="assets/images/rsl_az_logo.svg" size="large" class="left-padding"></ion-icon>
    <ion-buttons slot="end"> <ion-menu-button></ion-menu-button> </ion-buttons>
    <ion-title>Team Standings</ion-title>
  </ion-toolbar>
  <a href="https://www.tucsonrealtors.org/" target="_blank">
    <ion-img src="assets/images/tarsponsorbanner.jpg"></ion-img>
  </a>
</ion-header>

<ion-content color="light">
  <ion-item-divider color="secondary">
    <ion-label> {{ team?.name }} </ion-label>
  </ion-item-divider>
  <!-- <ion-button color="primary" (click)="addToFavs()" *ngIf="!isFollowing">
      <ion-icon slot="start" name="star"></ion-icon>
      Add To My Teams
      <ion-icon slot="end" name="star"></ion-icon>
    </ion-button>
    <ion-button color="primary" (click)="removeFromFavs()" *ngIf="isFollowing">
      Unfollow
    </ion-button> -->
  <ion-list *ngFor="let bracket of standingsByBracket | keyvalue">
    <ion-list-header color="primary">
      {{ bracket.key }}
    </ion-list-header>
    <ion-item color="light" *ngFor="let team of bracket.value" routerLink="/team/tabs/teamSchedule/{{team.teamId}}">
      <ion-grid class="width-100">
        <ion-row class="ion-align-self-start">
          <ion-col class="ion-align-self-start team-name">{{ team?.teamName }}</ion-col>
        </ion-row>
        <ion-row *ngIf="!team?.matchesPlayed" class="ion-align-self-start">
          <ion-col class="ion-align-self-start no-game">- No games recorded -</ion-col>
        </ion-row>
        <ion-row *ngIf="team?.matchesPlayed">
          <ion-col> MP </ion-col>
          <ion-col> W </ion-col>
          <ion-col> L </ion-col>
          <ion-col> D </ion-col>
          <ion-col> GF </ion-col>
          <ion-col> GA </ion-col>
          <ion-col> Points </ion-col>
        </ion-row>
        <ion-row *ngIf="team?.matchesPlayed">
          <ion-col> {{ team?.matchesPlayed }} </ion-col>
          <ion-col> {{ team?.wins }} </ion-col>
          <ion-col> {{ team?.losses }} </ion-col>
          <ion-col> {{ team?.draws }} </ion-col>
          <ion-col> {{ team?.goalsFor }} </ion-col>
          <ion-col> {{ team?.goalsAgainst }} </ion-col>
          <ion-col> {{ team?.points }} </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary" class="min-height-10"></ion-toolbar>
  <ion-img src="assets/images/Sponsors-2020.jpg"></ion-img>
</ion-footer>